.Header {
    background-color: #343b53;
    font-size: calc(10px + 2vmin);
    color: white;
    margin: 0;
}

.Header-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

/**** Fonts ****/
h1, h2{
    margin: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.3em;
    font-weight: normal;
}

/**** Links ****/
a, a:visited {
    color: white;
    text-decoration: none;
}
