.SearchBar {
    background-color: #717a95;
}

.SearchBar-container {
    color: black;
    margin-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.SearchBar-form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
}

.SearchBar-form-label {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

.SearchBar-button {
    background-color: #343b53;
    color: white;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
    height: 22px;
}